.destination-grid-container {
  width: 100%;
}

.destination-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  width: 100%;
}

@media (min-width: 640px) {
  .destination-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .destination-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.25rem;
  }
}
